# Pliki środowiskowe i sekrety
.env
app.env
*.env

# Baza danych i instancje Flaska
instance/
*.db
*.sqlite3

# Pliki tymczasowe i logi
logs/
*.log
__pycache__/
*.pyc

# Wirtualne środowisko
.venv/
venv/

# Archiwa i backupy
*.tar
*.zip
*.gz
backups/
old_files/olt-backup.tar

# Inne śmieci z katalogu roboczego
old_files/full.cr.layout
old_files/full.cr.txt
old_files/replacements.txt
.idea/
old_files/device_one.txt
old_files/devices.txt
old_files/list.txt
old_files/backup_status.json
old_files/backup_schedule.json
old_files/versions.log
__pycache__
__pycache/
tests/
old_files/