{% extends "base.html" %}
{% block title %}Backupy urządzenia {{ device.ip }}{% endblock %}

{% block content %}
<h2 class="h5 mb-3">Lista plików backupu: {{ device.ip }}</h2>

<p class="mb-2">
    <a class="btn btn-link btn-sm text-light p-0" href="{{ url_for('main.index') }}">← Wróć do listy urządzeń</a>
</p>

{% if logs %}
<table class="table table-sm table-striped table-hover align-middle olt-table">
    <thead>
    <tr>
        <th>Nazwa pliku</th>
        <th>Data utworzenia</th>
        <th>Rozmiar</th>
        <th>Status</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    {% for log in logs %}
    <tr>
        <td>{{ log.filename }}</td>
        <td>{{ log.created_at.strftime("%Y-%m-%d %H:%M") }}</td>
        <td>{{ log.size_bytes }}</td>
        <td>
            {% if log.status == 'success' %}
                <span class="text-success fw-bold">OK</span>
            {% else %}
                <span class="text-danger">Błąd</span>
            {% endif %}
        </td>
        <td class="text-nowrap">
            <div class="d-flex flex-row flex-wrap gap-2">
                {% if log.status == 'success' %}
                    <a class="btn btn-sm btn-secondary"
                       href="{{ url_for('backup.view_backup', log_id=log.id) }}">Podgląd</a>
                    <a class="btn btn-sm btn-secondary"
                       href="{{ url_for('backup.download_backup', log_id=log.id) }}">Pobierz</a>
                {% endif %}

                <form class="inline" method="post" action="{{ url_for('backup.delete_backup', log_id=log.id) }}"
                      onsubmit="return confirm('Na pewno usunąć ten backup?');">
                    <button type="submit" class="btn btn-sm btn-danger">Usuń</button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Brak backupów dla tego urządzenia.</p>
{% endif %}

{% endblock %}